* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

section {
    padding: 50px 100px;
}

:root {
    --main-color: #ff6d46;
    --second-color: #ecfdf8;
    --text-color: #121011;
    --bg-color: #fff;

    --box-shadow: 0 0 16px 1px rgb(14 52 54 / 15%);
}

img {
    width: 100%;
}

body {
    color: var(--text-color);

}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 18px 100px;
}

.logo a {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo .fa-solid {
    font-size: 24px;
    color: var(--main-color);

}

.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
    z-index: 10001;
}

.header-icon {
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
}

.header-icon .fa-solid {
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 8px;
    border-radius: 0.4rem;
    width: auto;
}

.header-icon .fa-solid:hover {
    background-color: #ff8664;
}

.header-icon i {
    position: relative;
}

.header-icon span {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 0.6rem;
    font-weight: 500;

}

.search-box {
    position: absolute;
    top: 110%;
    right: -110%;
    background-color: var(--bg-color);
    width: 280px;

}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    padding: 20px;
    color: var(--main-color);
    box-shadow: var(--box-shadow);
}

.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;

}

.search-box.active {
    right: 1rem;
    transition: 0.4s all ease-out;
}

.home {
    width: 100%;
    min-height: 740px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
    background: var(--second-color);

}

.home-text h3 {
    font-size: 1.2rem;
    color: var(--main-color);
    font-weight: 500;
    text-transform: uppercase;
}

.home-text h1 {
    font-size: 3.4rem;
    letter-spacing: 1px;
}

.home-text span {
    color: var(--main-color);

}

.home-text p {
    max-width: 80%;
    font-size: 0.938rem;
    margin: 0 0.5rem 0 1.5rem;
}

.btn {
    padding: 10px 40px;
    border-radius: 0.3rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
}

.btn:hover {
    background-color: #ff8664;

}

.home-img {
    animation: float 3s linear infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(-3.5rem);
    }
    50% {
        transform: translateY(1rem);
    }
}