<footer class="main-footer">
    <div class="container">
        <div class="footer-content">
            <h2 class="footer-title">Helpful Links</h2>
            <div class="footer-links">
                <a href="contact.html">Contact us</a>
                <a href="#">Return & Exchange</a>
                <a href="#">Blogs</a>
                <a href="#">Search</a>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="social-icons">
                <a href="https://www.facebook.com/share/1AfJ5MSZZV/" target="_blank"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/marquisevault?igsh=MXJoN2x6d2J5OTB4Zw==" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
            </div>
        </div>
    </div>
</footer>

<!-- WhatsApp Floating Button -->
<div class="whatsapp-float">
    <div class="whatsapp-tooltip">Chat with us</div>
    <a href="https://wa.me/923243499882" target="_blank" class="whatsapp-btn">
        <i class="fa-brands fa-whatsapp"></i>
        <span class="whatsapp-badge">1</span>
    </a>
</div>